#js {
    font-size:20px;
    color:#0087FF;
    background-color: #000000;
    text-align: center;
}

header {
    font-size:40px;
    color:#7cc0ff;
    background-color: #491717;
    font-weight: bold;
    text-align: center;
}