body {
    background-image: url("mercado2.jpg");
    mask-repeat:no-repeat;
    background-size: cover;
}

header {
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    color:#6b1023
}

.botao {
    font-size: 25px;
    text-align: center;
    display:inline-block;
    margin-inline-start: 8%;
}

h1 {
    text-align: center;
    color:#6b1023;
    background-color: white;
}

#lista{
    color: #6b1023;
    font-size:20px;
    list-style: none;
    background-color: white;
    text-align: center;
    font-weight: bold;
}